<p>
  <mat-toolbar style="background: #eaf0f1; color:rgb(53 50 50 / 87%)">
    <button mat-button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>

    <ng-container *ngIf="auth.loggedIn">
      <button mat-icon-button [matMenuTriggerFor]="menuOptions">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Menu</span>
      <span class="example-spacer" style="flex: auto;"></span>
      
      <button mat-icon-button class="material-icons" (click)="passTurn()">
        <mat-icon>check_circle</mat-icon> 
      </button>
      
      <p style="margin-bottom: 0px;" routerLink="/home" routerLinkActive="active"><button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button></p>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>

    </ng-container>
  </mat-toolbar>

  <mat-menu #menuOptions="matMenu">
    <button mat-menu-item (click)="openDialogCreateMatch()">New game</button>
    <p routerLink="/searchMatches" routerLinkActive="active">
    <button mat-menu-item styles="text-decoration: none">Search matches</button></p>
    <button mat-menu-item styles="text-decoration: none"*ngIf="(alreadyInMatch>0)" (click)="joinGameByWebSocket()">Join Game</button>
    <button mat-menu-item (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
  </mat-menu>
</p>



