<h1 class="mat-display-1" style="text-align: center;margin:2%">Admin Panel</h1>
<div style="margin: 40px;">
    <mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
            <app-admin-matches *ngIf="tile.text=='Matches'"></app-admin-matches>
            <app-admin-scoreboard *ngIf="tile.text=='Scoreboard'"></app-admin-scoreboard>
            <app-admin-user-stats *ngIf="tile.text=='UserStats'"></app-admin-user-stats>
        </mat-grid-tile>
    </mat-grid-list>
</div>