<!--
<form (submit)="filterMatches()">
    <div class="row">
        <div class="col-md-2 form-group">
			<b>State</b>
			<input type="text" class="form-control" name="stateFilter" [(ngModel)]="matchService.matchFilter.state">
		</div>
		<div class="col-md-3 form-group">
			<b>Initial Date</b>
			<input type="text" class="form-control" name="initialDateFilter" [(ngModel)]="matchService.matchFilter.initialDate">
        </div>
        <div class="col-md-3 form-group">
			<b>Final Date</b>
			<input type="text" class="form-control" name="finalDateFilter" [(ngModel)]="matchService.matchFilter.finalDate">
		</div>
	</div>
    <div class="row">
        <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

-->