<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

	<!-- Position Column -->
	<ng-container matColumnDef="idMatch">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header> Match ID. </th>
	  <td mat-cell *matCellDef="let element"> {{element.idMatch}} </td>
	</ng-container>
  
	<!-- Name Column -->
	<ng-container matColumnDef="province">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header> Province </th>
	  <td mat-cell *matCellDef="let element"> {{element.province}} </td>
	</ng-container>
  
	<!-- Weight Column -->
	<ng-container matColumnDef="state">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
	  <td mat-cell *matCellDef="let element"> {{element.state}} </td>
	</ng-container>
  
	<!-- Symbol Column -->
	<ng-container matColumnDef="players">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header> Players </th>
	  <td mat-cell *matCellDef="let element"> {{element.usersPlaying}} </td>
	</ng-container>

	<!-- Symbol Column -->
	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Started at </th>
		<td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
	</ng-container>
	
	<ng-container matColumnDef="loading">
		<mat-footer-cell *matFooterCellDef colspan="5">
		  Loading data...
		</mat-footer-cell>
	  </ng-container>
	  <ng-container matColumnDef="noData">
		<mat-footer-cell *matFooterCellDef colspan="5">
		  No data.
		</mat-footer-cell>
	  </ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></mat-footer-row>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  
  
  <!-- Copyright 2020 Google LLC. All Rights Reserved.
	  Use of this source code is governed by an MIT-style license that
	  can be found in the LICENSE file at http://angular.io/license -->