name: Build and publish Docker

on:
  push:
    branches: [ master , develop , docker-compose ]
  pull_request:
    branches: [ master , develop , docker-compose ]

jobs:
  push_client_to_registry:
    name: Push Client
    runs-on: ubuntu-latest
    steps:
      - name: Check out the Client repo
        uses: actions/checkout@v2
      #- name: Set outputs
      # id: vars
      # run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Push Client to Docker Hub
        uses: docker/build-push-action@v1
        with:
          path: front-game
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: hhrib/tacs-utn
          #tags: front-${{ steps.vars.outputs.sha_short }}
          tags: tacs-utn/front
          tag_with_ref: true
          dockerfile: front-game/Dockerfile
          image_name: tacs-utn/client
          buildoptions: ""
  push_server_to_registry:
    name: Push Server
    runs-on: ubuntu-latest
    steps:
      - name: Check out the Server repo
        uses: actions/checkout@v2.3.2
      #- name: Set outputs
      #  id: vars
      #  run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Push Server to Docker Hub
        uses: docker/build-push-action@v2
        with:
          path: game
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          #repository: hhrib/tacs-utn
          dockerfile: game/Dockerfile
          #tags: server-${{ github.ref }}
          #tags: | 
          #    tacs-utn/server:latest
          tag_ref: ${{ github.ref }}
          tags: tacs-utn/front
          context: .
          #image_name: tacs-utn/server
          #tag_with_ref: true
          #buildoptions: "-f game/Dockerfile"
